body, html{
    background:#72729A;
}
.error {
    color: red;
}
ul.standard{
    padding:0;
}
ul.standard li {
    list-style: none;
}
span.link {
    cursor: pointer;
}

div.loading {
    position: absolute;
    bottom: 32px;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 90%;
}
.container-fluid > .jumbotron{
    background:#fff;
}
